<main id="main" *ngIf="activeStep == 1">
  <section class="section-registration">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-10 col-12">
          <div class="registration-card">
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-12 text-center">
                  <h1 class="HeadingTitle">Hello!</h1>
                  <p>
                    Fill out the following information to register as a supplier
                    with us.
                  </p>
                </div>
              </div>
              <form [formGroup]="step1Form">
                <div class="row">
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Company Name *</label>
                      <input formControlName="companyName" placeholder="Enter company name" type="text"
                        class="form-control" />
                      <span class="text-danger"
                        *ngIf="step1Form.controls.companyName?.touched && step1Form.controls.companyName?.errors?.['required']">Please
                        enter company name </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Your Name *</label>
                      <input formControlName="name" placeholder="Enter name" type="text" class="form-control" />
                      <span class="text-danger"
                        *ngIf="step1Form.controls.name?.touched && step1Form.controls.name?.errors?.['required']">Please
                        enter name </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Your Designtion *</label>
                      <input formControlName="designation" placeholder="Enter designation" type="text"
                        class="form-control" />
                      <span class="text-danger"
                        *ngIf="step1Form.controls.designation?.touched && step1Form.controls.designation?.errors?.['required']">Please
                        enter designation </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Email ID *</label>
                      <input formControlName="email" placeholder="Enter email" type="email" class="form-control" />
                      <span class="text-danger"
                        *ngIf="step1Form.controls.email?.touched && step1Form.controls.email?.errors?.['required']">Please
                        enter email </span>
                      <span class="text-danger"
                        *ngIf="step1Form.controls.email?.touched && step1Form.controls.email?.errors?.['email']">Please
                        enter valid email </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Mobile Number *</label>
                      <input maxlength="10" formControlName="number" placeholder="Enter mobile number" type="text"
                        class="form-control" aria-label="Mobile Number" (keypress)="NumberOnly($event)" [maxlength]="10"
                        [minlength]="10" required />
                      <span class="text-danger"
                        *ngIf="step1Form.controls.number?.touched && step1Form.controls.number?.errors?.['required']">Please
                        enter mobile number </span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Password *</label>
                      <input formControlName="password" placeholder="Enter password" type="password"
                        class="form-control" />
                      <span class="text-danger"
                        *ngIf="step1Form.controls.password?.touched && step1Form.controls.password?.errors?.['required']">Please
                        enter password </span>
                    </div>
                  </div>
                </div>
                <div class="form-group text-center mt-4">
                  <button (click)="nextStep(1)" type="button" class="btn btn-lightgray box-shadow">
                    Next
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<main id="main" *ngIf="activeStep == 2">
  <section class="section-registration">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-10 col-12">
          <div class="registration-card">
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-12 text-center">
                  <h1 class="HeadingTitle">Hello!</h1>
                  <p>
                    Fill out the following information to register as a supplier
                    with us.
                  </p>
                </div>
              </div>
              <form [formGroup]="step2Form">
                <div class="row">
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <!-- <div class="row">
                      <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                          <label>Industry *</label>
                          <select formControlName="industry" class="form-select">
                            <option value="IT Service">IT Service</option>
                            <option value="IT Product">IT Product</option>
                          </select>
                          <ng-select mul class="form-select" [items]="options"
                                    bindLabel="item_text"
                                    [multiple]="true"
                                    bindValue="item_value"
                                    formControlName="industry">
                          </ng-select>
                          <span class="text-danger" *ngIf="step2Form.controls.industry?.touched && step2Form.controls.industry?.errors?.['required']">Please select industry</span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                      </div>
                    </div> -->
                    <div class="form-group">
                      <label>Number of Branches *</label>
                      <select formControlName="numberOfBranch" class="form-select">
                        <option value="" disabled selected>Select Branches</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                      </select>
                      <span class="text-danger"
                        *ngIf="step2Form.controls.numberOfBranch?.touched && step2Form.controls.numberOfBranch?.errors?.['required']">Please
                        select number of branch</span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Registration Number</label>
                      <input formControlName="registerNumber" placeholder="Enter registration number" type="text"
                        class="form-control" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <span class="input-icon" style="top: 35px !important;"><i class="bi bi-crosshair"></i></span>
                      <label>Main Office Address *</label>
                      <input formControlName="mainOfficeAddress" placeholder="Enter address" type="text"
                        class="form-control" />
                      <span class="text-danger"
                        *ngIf="step2Form.controls.mainOfficeAddress?.touched && step2Form.controls.mainOfficeAddress?.errors?.['required']">Please
                        enter main office address</span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Website *</label>
                      <input formControlName="website" placeholder="Enter website" type="text" class="form-control" />
                      <span class="text-danger"
                        *ngIf="step2Form.controls.website?.touched && step2Form.controls.website?.errors?.['required']">Please
                        enter website</span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Company Contact Number </label>
                      <input formControlName="companyContactNumber" placeholder="Enter company contact number"
                        type="text" class="form-control" [maxlength]="10" [minlength]="10"
                        (keypress)="NumberOnly($event)" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Number of Employees *</label>
                      <input formControlName="numberOfEmployees" placeholder="Enter number of employees" type="number"
                        class="form-control" />
                      <!-- <span class="text-danger" *ngIf="step2Form.controls.numberOfEmployees?.touched && step2Form.controls.numberOfEmployees?.errors?.['required']">Please enter numberOfEmployees</span> -->
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label>Add Categories *
                        <small>(Eg. Website Development, App Development
                          Etc..,)</small></label>
                      <ng-select mul class="form-select custom-ng-select-option" [items]="categoryList"
                        bindLabel="category" [multiple]="true" bindValue="category" formControlName="sector">
                      </ng-select>
                      <!-- <select class="form-select" formControlName="sector">
                        <option value="" disabled selected>Select Categories</option>
                        <option value="categories1">Categories 1</option>
                        <option value="categories2">Categories 2</option>
                        <option value="categories3">Categories 3</option>
                      </select> -->
                      <span class="text-danger"
                        *ngIf="step2Form.controls.sector?.touched && step2Form.controls.sector?.errors?.['required']">Please
                        select sector</span>
                    </div>
                  </div>
                </div>
                <div class="form-group text-center mt-4">
                  <button type="button" class="btn btn-lightgray box-shadow" (click)="backPage(1)">
                    Back
                  </button>
                  <button type="button" class="btn btn-lightgray box-shadow" (click)="nextStep(2)">
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<main id="main" *ngIf="activeStep == 3">
  <form [formGroup]="step3Form">
    <section class="section-registration">
      <div class="container">
        <div class="row mb-4">
          <div class="col-12 text-center">
            <h1 class="HeadingTitle2">Choose Your Subscription</h1>
            <p>
              <strong>When you are subscribing for the additional services, the
                platform fee will be deducted.</strong>
            </p>
          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 p-0">
            <div class="price-card border-blue">
              <div class="card-body text-center">
                <div class="form-check">
                  <input class="form-check-input float-end" type="radio" id="flexRadioDefault1" value="Basic"
                    formControlName="plan" />
                </div>
                <h2 class="title blue-gradient">Basic</h2>
                <h5 class="text-muted">INR 99999/Year</h5>
                <h5 class="text-success">INR 49999/Year ONLY</h5>
                <p>Access OSS</p>
                <p>View all projects listed for that and historical data.</p>
                <p>
                  (No option to see the Matched projects against your recorded
                  expertise (Case studies))
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 p-0">
            <div class="price-card border-silver bg-light">
              <div class="card-body text-center">
                <div class="form-check">
                  <input class="form-check-input float-end" type="radio" id="flexRadioDefault2" value="Silver"
                    formControlName="plan" />
                </div>
                <h2 class="title silver-gradient">Silver</h2>
                <h5 class="text-muted">INR 349999/Year</h5>
                <h5 class="text-success">INR 199999/Year ONLY</h5>
                <p>
                  Access OSS/View all projects listed for that and historical
                  data.
                </p>
                <p>+</p>
                <p>
                  List of MATCHED projects against your recorded expertise (Case
                  studies)
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 p-0">
            <div class="price-card border-gold">
              <div class="card-body text-center">
                <div class="form-check">
                  <input class="form-check-input float-end" type="radio" id="flexRadioDefault3" value="Gold"
                    formControlName="plan" />
                </div>
                <h2 class="title gold-gradient">Gold</h2>
                <h5 class="text-muted">INR 549999/Year</h5>
                <h5 class="text-success">INR 399999/Year ONLY</h5>
                <p>
                  Services listed at Silver (above) + Performing the full
                  feasibility study of projects documents to prepare for project
                  handover call between you and WG/SH
                </p>
                <p>
                  + Review of your documents prior to engaging with Spectrum IT
                  Hub Limited UK (The main bidder)
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 p-0">
            <div class="price-card border-silver">
              <div class="card-body text-center">
                <div class="form-check">
                  <input class="form-check-input float-end" type="radio" id="flexRadioDefault4" value="Platinum"
                    formControlName="plan" />
                </div>
                <h2 class="title platinum-gradient">Platinum</h2>
                <h5 class="text-muted">INR 749999/Year</h5>
                <h5 class="text-success">INR 599999/Year ONLY</h5>
                <p>
                  + Review of your documents prior to engaging with Spectrum IT
                  Hub Limited UK (The main bidder)
                </p>
                <p>+</p>
                <p>
                  Review/amendments of any 25 proposals written by you during any
                  12 months
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 p-0">
            <div class="price-card" style="min-height: 200px">
              <div class="card-body text-center">
                <div class="form-check">
                  <input class="form-check-input float-end" type="checkbox" value="" id="flexCheckDefault" />
                </div>
                <h6 class="text-theme">Professional</h6>
                <h5 class="text-success">
                  50% of fee upfront & 50% after winning the bid
                </h5>
                <p>
                  Supplier is happy to engage a 3rd party market expert within UK
                  (for review/amendments of Bid we agree together)
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12 p-0">
            <div class="price-card" style="min-height: 200px">
              <div class="card-body text-center">
                <div class="form-check">
                  <input class="form-check-input float-end" type="checkbox" value="" id="flexCheckDefault" />
                </div>
                <h6 class="text-theme">Professional +</h6>
                <h5 class="text-success">
                  50% of fee upfront & 50% after winning the bid
                </h5>
                <p>
                  Supplier is happy to engage a 3rd party market expert within UK
                  for FULL WRITING services of any bid, we choose
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group text-center mt-4">
          <button type="button" class="btn btn-lightgray box-shadow" (click)="backPage(1)">
            Back
          </button>
          <button type="button" class="btn btn-lightgray box-shadow" (click)="nextStep(3)">
            Proceed
          </button>
        </div>
      </div>
    </section>
  </form>
</main>

<!-- <main id="main" *ngIf="activeStep == 4">
  <section class="section-registration">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-10 col-12">
          <div class="registration-card">
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-12 text-center">
                  <h1 class="HeadingTitle2">
                    Eligibility Criteria
                    <a
                    (click)="nextStep(4)"
                      class="btn btn-primary btn-sm float-end"
                      >Skip</a
                    >
                  </h1>
                </div>
              </div>
              <form>
                <div class="row">
                  <div class="col-12">
                    <p class="text-muted">Please confirm the following</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-8 col-xl-8 col-12">
                      <label
                        ><strong
                          >Are you a registered company in India?</strong
                        ></label
                      >
                    </div>
                    <div class="col-lg-4 col-xl-4 col-12">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio1"
                          value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                          >Yes</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio2"
                          value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                          >No</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-8 col-xl-8 col-12">
                      <label
                        ><strong
                          >Is your company currently active?</strong
                        ></label
                      >
                    </div>
                    <div class="col-lg-4 col-xl-4 col-12">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio1"
                          value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                          >Yes</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio2"
                          value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                          >No</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-8 col-xl-8 col-12">
                      <label
                        ><strong
                          >How many years has your company been in
                          business?</strong
                        ></label
                      >
                    </div>
                    <div class="col-lg-4 col-xl-4 col-12">
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-8 col-xl-8 col-12">
                      <label
                        ><strong
                          >Can you provide case studies showcasing previous
                          projects?</strong
                        ></label
                      >
                    </div>
                    <div class="col-lg-4 col-xl-4 col-12">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio1"
                          value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                          >Yes</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio2"
                          value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                          >No</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-8 col-xl-8 col-12">
                      <label
                        ><strong
                          >Are you willing to nominate an account manager to
                          work with us?</strong
                        ></label
                      >
                    </div>
                    <div class="col-lg-4 col-xl-4 col-12">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio1"
                          value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                          >Yes</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio2"
                          value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                          >No</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-8 col-xl-8 col-12">
                      <label
                        ><strong
                          >Do you have current manpower to support any new
                          business?</strong
                        ></label
                      >
                    </div>
                    <div class="col-lg-4 col-xl-4 col-12">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio1"
                          value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1"
                          >Yes</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="inlineRadio2"
                          value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2"
                          >No</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <div class="form-group text-center mt-4">
                <button
                  type="button"
                  class="btn btn-lightgray box-shadow"
                  (click)="nextStep(4)"
                >
                  Proceed
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<main id="main" *ngIf="activeStep == 5">
  <section class="section-registration">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-10 col-12">
          <div class="registration-card">
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-12 text-center">
                  <h1 class="HeadingTitle2">
                    Nominate Account Manager
                    <a
                      (click)="nextStep(5)"
                      class="btn btn-primary btn-sm float-end"
                      >Skip</a
                    >
                  </h1>
                </div>
              </div>
              <form>
                <div class="row justify-content-center">
                  <div class="col-lg-7 col-xl-7 col-12">
                    <div class="form-group">
                      <label>Account Manager Name</label>
                      <input type="text" placeholder="Enter name" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label>Email ID</label>
                      <input type="email" placeholder="Enter email" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label>Account Manager Designation</label>
                      <input type="text" placeholder="Enter Designation" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label>Active Since</label>
                      <input type="text" placeholder="Enter active since" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label>Mobile Number</label>
                      <input type="text" placeholder="Enter mobile number"  class="form-control" />
                    </div>
                  </div>
                </div>
              </form>

              <div class="form-group text-center mt-4">
                <button
                  type="button"
                  class="btn btn-lightgray box-shadow"
                  (click)="nextStep(5)"
                >
                  Done
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main> -->

<main id="main" *ngIf="activeStep == 6">
  <section class="section-registration">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-10 col-12">
          <div class="registration-card">
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-12 text-center">
                  <img src="assets/img/success-icon.gif" width="100" class="mt-5 mb-5" />
                  <h5 class="mb-5">
                    <strong>Thank you for providing this information, our team will
                      get back to you soon</strong>
                  </h5>
                  <p class="text-muted">support@westgateithub.com</p>
                  <p class="text-muted">+917781978685</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>