
::ng-deep .ng-dropdown-panel {
    opacity: 1;
    background-color: rgb(255, 255, 255);
    margin-left: -12px;
    padding: 5px;
}

.form-select {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #495057;
  }
  
  .form-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
//   .custom-ng-select-option {
//     height: 200px; /* Adjust this as needed */
//     overflow-y: auto;
//   }
  