<main id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 text-end">
                    <a routerLink="/faq" class="btn btn-small btn-primary">Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="HeadingTitle text-theme mb-5">FAQ’s - Registration Process</h1>
                    <ul class="faqsQuestionList">
                        <li>
                            <div class="text-theme">1. How do I register as a supplier with Westgate?</div>
                            <div>
                                <p>
                                    To register as a supplier with Westgate, simply fill out the registration form
                                    provided on our website.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">2. What information do I need to provide during the registration
                                process?</div>
                            <div>
                                <p>
                                    You will need to provide basic personal information such as your name, designation,
                                    email id, and mobile number, along with company details and subscription
                                    preferences.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">3. Is there any fee for registering as a supplier with Westgate?
                            </div>
                            <div>
                                <p>
                                    The registration Process will be completed only when a package has been selected by
                                    the supplier. No Services will not be at free cost. There are 4 subscription
                                    packages which any supplier can choose to complete the Registration with us. Please
                                    refer to “Our Services” more information on Fee Structure.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                4. Can I bring all my branches under one registration?
                            </div>
                            <div>
                                <p>
                                    Yes, you can register your multiple branches under the same account.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                5. What happens after I submit my registration form?
                            </div>
                            <div>
                                <p>
                                    After submitting your registration form, our team will review your information and
                                    contact you to complete the registration process.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">6. What should I do if I encounter any issues during the
                                registration process?</div>
                            <div>
                                <p>
                                    If you encounter any issues during the registration process, please contact our
                                    customer support team [support@westgateithub.com or +917781978685] for assistance.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">7. Can I register as a supplier if my company is a startup or newly
                                established?</div>
                            <div>
                                <p>
                                    We welcome startups and newly established companies as long as they can justify
                                    their recent works as, it’s Westgate’s Policy to engage with any supplier only when
                                    they have case study recorded.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>