<header id="header">
  <div class="container d-flex align-items-center">
    <a routerLink="/home" class="logo me-auto"><img src="./assets/img/newlogo.png" width="200" alt="" class="img-fluid"></a>
    <nav id="navbar" class="navbar" [ngClass]="{'navbar-mobile': isMobileView}">
      <ul>
        <li><a class="nav-link" routerLink="/about-us" (click)="isMobileView = false" routerLinkActive="active">About Us</a></li>
        <li><a class="nav-link" routerLink="/why-us" (click)="isMobileView = false" routerLinkActive="active">Why Us</a></li>
        <li><a class="nav-link" routerLink="/opportunities" (click)="isMobileView = false" routerLinkActive="active">Opportunities</a></li>
        <li><a class="nav-link" routerLink="/working-model" (click)="isMobileView = false" routerLinkActive="active">Working Model</a></li>
        <li><a class="nav-link" routerLink="/our-services" (click)="isMobileView = false" routerLinkActive="active">Our Services</a></li>
        <li><a class="nav-link" routerLink="/faq" (click)="isMobileView = false" routerLinkActive="active">FAQ's</a></li>
        <ng-container *ngIf="!loginUser">
          <li><a class="nav-link-btn" routerLink="/register" (click)="isMobileView = false" routerLinkActive="active">Register</a></li>
          <li><a class="nav-link-btn ms-3" routerLink="/login" (click)="isMobileView = false" routerLinkActive="active">Login</a></li>
        </ng-container>
        <ng-container *ngIf="loginUser">
          <li style="cursor: pointer;"><a class="nav-link-btn ms-3" (click)="logOut()" (click)="isMobileView = false" routerLinkActive="active">Logout</a></li>
        </ng-container>
      </ul>
      <i class="bi mobile-nav-toggle" [ngClass]="{'bi-x': isMobileView, 'bi-list' : !isMobileView }" (click)="isMobileView = !isMobileView"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>

