<main id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 text-end">
                    <a routerLink="/faq" class="btn btn-small btn-primary">Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="HeadingTitle text-theme mb-5">FAQ’s - Partnership Opportunities</h1>
                    <ul class="faqsQuestionList">
                        <li>
                            <div class="text-theme">1. What are the eligibility criteria for Indian IT firms to become
                                partners with Westgate?</div>
                            <div>
                                <p>
                                    Eligibility criteria include being a registered IT firm in India, having a business
                                    track record with case studies of previous projects, agreeing to pay
                                    fees/commissions to Westgate, among others.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">2. Can Indian IT firms choose their preferred working models when
                                partnering with Westgate?</div>
                            <div>
                                <p>
                                    Yes, Indian IT firms can choose from various working models such as subcontracting
                                    only, hybrid, on-site, and resource sharing, based on their preferences and project
                                    requirements.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme"> 3. What is the difference between the subcontracting-only model and
                                the hybrid model?</div>
                            <div>
                                <p>
                                    The subcontracting-only model involves Indian IT firms subcontracting projects to
                                    their own team in India, while the hybrid model combines subcontracting and direct
                                    involvement based on project needs.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                4. How does the on-site model work for Indian IT firms partnering with Westgate?
                            </div>
                            <div>
                                <p>
                                    In the on-site model, Indian IT firms are directly involved in on-site project
                                    management and execution, providing hands-on support and expertise.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                5. What are the benefits of the resource-sharing model offered by Westgate?
                            </div>
                            <div>
                                <p>
                                    The resource-sharing model enables Indian IT firms to generate recurring income by
                                    sharing expert resources with UK Suppliers for specific projects.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>