<main id="main">
  <section class="p-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      </div>
      <div class="carousel-inner">
        <div class="ovrlay-bakground"></div>
        <div class="carousel-item active">
          <img src="./assets/img/wgith-slider1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" data-aos="fade-up">
            <h5>Empowering Indian IT businesses</h5>
            <h2 class="mb-4">Your Gateway to UK IT Market</h2>
            <a routerLink="/about-us" class="btn btn-white btn-primary">About Us</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/img/wgith-slider2.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" data-aos="fade-up">
            <h5>Collaborations does matter in the competitive business world</h5>
            <h2 class="mb-4">Our innovation is for your success</h2>
            <a routerLink="/why-us" class="btn btn-white">Why Us</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/img/wgith-slider3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" data-aos="fade-up">
            <h5>Access daily UK IT Projects, worth more than 4 billion GBP/year</h5>
            <h2 class="mb-4">Our clients are your clients</h2>
            <a routerLink="/opportunities"  class="btn btn-white">Opportunities</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/img/wgith-slider4.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" data-aos="fade-up">
            <h5>The simple innovative steps to grow your business into UK market</h5>
            <h2 class="mb-4">Add the strength to answer challenges</h2>
            <a routerLink="/working-modal" class="btn btn-white">Working Model</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/img/wgith-slider5.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" data-aos="fade-up">
            <h5>Hire International Business Development Team of 5 just from INR 49,999/year</h5>
            <h2 class="mb-4">Unlock the secrets – the opportunity is at your doorstep</h2>
            <a routerLink="/our-services" class="btn btn-white">Our Business</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/img/wgith-slider6.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" data-aos="fade-up">
            <h5>Your questions are important for success</h5>
            <h2 class="mb-4">Any questions?</h2>
            <a routerLink="/faq" class="btn btn-white">FAQ's</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/img/wgith-slider7.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block" data-aos="fade-up">
            <h2 class="mb-4">Your Success is a step away</h2>
            <a routerLink="/register" class="btn btn-white">Register</a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
</main>

