<main id="main">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h6 class="text-muted"><u>Quality Assurance/Quality Control</u></h6>
          <img
            src="./assets/img/quality-assurance-animation-cog.gif"
            width="150"
            class="mt-5 mb-5"
          />
          <h5>
            We are working on the DPS,<br />
            and it will be live for our suppliers by September 2024
          </h5>
        </div>
      </div>
    </div>
  </section>
</main>
