<main id="main">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12">
          <h1 class="HeadingTitle text-theme mb-5">FAQ's</h1>
          <h5>
            Explore commonly asked questions to find answers and gain clarity on
            our services, processes, and offerings. Have a question? Check out
            our FAQ sections for quick solutions.
          </h5>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12 text-center">
          <img src="./assets/img/faqs-image.png" class="img-fluid mb-5" alt="wgith about us" />
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <ul class="ListMenu2 mt-2">
        <li><a routerLink="/faq/about">About Us</a></li>
        <li><a routerLink="/faq/general">General</a></li>
        <li><a routerLink="/faq/cost-pricing">Cost and Pricing</a></li>
        <li><a routerLink="/faq/legal-and-compliance">Legal and Compliance</a></li>
        <li><a routerLink="/faq/registration-process">Registration Process</a></li>
        <li><a routerLink="/faq/partnership-opportunity">Partnership Opportunities</a></li>
        <li><a routerLink="/faq/supplier-eligibility">Supplier Eligibility Criteria</a></li>
        <!-- <li><a routerLink="/faq/project-management">Project Management</a></li>
        <li><a routerLink="/faq/service-offer">Service Offerings</a></li> -->
      </ul>
    </div>
  </section>
</main>