<main id="main">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
          <h1 class="HeadingTitle">About Westgate</h1>
          <p>
            Westgate IT Hub Pvt. Ltd. Limited, is an innovative Bangalore based
            business in collaboration/partnership with Spectrum IT Hub Limited,
            Swindon, UK. We are proven, an emerging Marketplace and a
            partnership platform to facilitate UK IT Projects to execute by
            Indian IT Companies. 
          </p>
          <h4>Our aim is to</h4>
          <ul Style="color:rgb(20, 20, 250);">
            <li>
              <strong Style="color:black;">
                • Offer a One source system (OSS) access
                to IT project opportunities of UK, Europe, for our supplier
                partners to execute/take part of &
              </strong>
            </li>
            <li>
              <strong Style="color:black;">
                • Foster collaboration and partnerships
                with Indian IT firms looking for IT projects opportunities
                abroad
              </strong>
            </li>
          </ul><br/>
          <!-- <p>
            <strong
              ><i class="bi bi-dot"></i> Offer a One source system (OSS) access
              to IT project opportunities of UK, Europe, for our supplier
              partners to execute/take part of &</strong
            >
          </p>
          <p>
            <strong
              ><i class="bi bi-dot"></i> Foster collaboration and partnerships
              with Indian IT firms looking for IT projects opportunities
              abroad</strong
            >
          </p> -->
          <p>
            With a strong and capable network spanning at both private and
            public sectors of UK, we excel in connecting Indian firms with
            lucrative opportunities across the UK & we are leveraging our
            expertise and alliances to provide seamless pathways for Indian
            companies to participate in the competitive UK IT landscape.
          </p>
          <p>
            Committed to transparency for our Suppliers (Your) success through
            offering personalised support from consultation to registration onto
            OSS to unlock the vast potential of the UK IT Sector market and grow
            your business to new heights of success.
          </p>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12 text-center" data-aos="fade-up">
          <img src="./assets/img/wgith-aboutus.png" class="img-fluid mb-5" alt="wgith about us" />
          <p>
            <em>Please refer to Our Services/FAQ and other pages<br />
              for more information.</em>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="p-0" data-aos="fade-up">
    <img src="./assets/img/smiling-businesswoman-looking-her-fellow 1.png" class="img-fluid" />
  </section>
  <section class="section-primary" data-aos="fade-up">
    <div class="container text-center">
      <h2 class="HeadingTitle">About Spectrum IT Hub</h2>
      <p>
        Spectrum IT Hub Limited (SHU) is a strategic business based in UK and is
        alliance of three IT other companies originated from UK and working
        towards bidding and executing IT projects in UK public sector.
      </p>
      <p>
        SHU is a business focused on building its strength through partnering
        with eligible IT firms of multiple domains/expertise from India. Hence
        SHU and Westgate IT Hub in India are partnered with each other to
        support the business objectives.
      </p>
      <p>
        <em>Please refer to Our Services/FAQ and other pages for more
          information.</em>
      </p>
      <p>
        <em><a href="https://spectrumithub.com/" target="_blank" class="btn btn-link text-white">Know more about
            spectrum</a></em>
      </p>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 mb-5 text-center" data-aos="fade-up">
          <h3 class="HeadingTitle">The Pillars (Not limited to)</h3>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12" data-aos="fade-up">
          <div class="team-card">
            <div class="card-body text-center">
              <div class="team-member-photo">
                <img src="./assets/img/Abhishek_Arif.jpeg" />
              </div>
              <h5><strong>Abhishek Arif </strong></h5>
              <p><em>Business Development Manager</em></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12" data-aos="fade-up">
          <div class="team-card">
            <div class="card-body text-center">
              <div class="team-member-photo">
                <img src="./assets/img/aayush_kumar.jpeg" />
              </div>
              <h5><strong>Ayush Kumar </strong></h5>
              <p><em>Supply Chain Manager</em></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12" data-aos="fade-up">
          <div class="team-card">
            <div class="card-body text-center">
              <div class="team-member-photo">
                <img src="./assets/img/shubham-singh.png" />
              </div>
              <h5><strong>Subham Singh </strong></h5>
              <p><em>Feasibility Team Lead</em></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12" data-aos="fade-up">
          <div class="team-card">
            <div class="card-body text-center">
              <div class="team-member-photo">
                <img src="./assets/img/shikhar-shrivastav.png" />
              </div>
              <h5><strong>Shikhar Srivastava </strong></h5>
              <p><em>Senior Bid Analyst</em></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12" data-aos="fade-up">
          <div class="team-card">
            <div class="card-body text-center">
              <div class="team-member-photo">
                <img src="./assets/img/manish_nayak.jpeg" />
              </div>
              <h5><strong>Manish Nayak </strong></h5>
              <p><em>Market Research Analyst</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>