<main id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 text-end">
                    <a routerLink="/faq" class="btn btn-small btn-primary">Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="HeadingTitle text-theme mb-5">FAQ’s - General</h1>
                    <ul class="faqsQuestionList">
                        <li>
                            <div class="text-theme">1. What are public sector Projects?</div>
                            <div>
                                <p>
                                    Public sector projects are government-funded initiatives. They include projects in
                                    areas such as healthcare, education, transportation, and social welfare.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">2. What are Private sector Projects?</div>
                            <div>
                                <p>
                                    Private sector projects are initiatives undertaken by privately owned businesses or
                                    organizations for commercial purposes. These can include product development,
                                    marketing campaigns, and other ventures aimed at generating profit in the
                                    competitive market.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">3. How can potential Suppliers get in touch with Westgate?</div>
                            <div>
                                <p>
                                    Potential Suppliers can contact Westgate through the website, email
                                    (support@westgateithub.com), or phone (+917781978685) to discuss their requirements
                                    and explore partnership opportunities.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                4. Does Westgate offer ongoing support to Suppliers beyond project identification and
                                bid submission?
                            </div>
                            <div>
                                <p>
                                    Yes, Westgate offers ongoing support to Suppliers throughout the project lifecycle,
                                    including Feasibility Study, Bid Tracking, Bid Review and/or Writing Support from UK
                                    Experts and support to the Supplier once the Bid is Awarded in Project Co-ordination
                                    with Client.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                5. How Westgate is able to access the international projects?
                            </div>
                            <div>
                                <p>
                                    Westgate uses its connections and partnership with Spectrum IT Hub in the UK to find
                                    and access international projects. This helps us connect Indian IT companies with
                                    global opportunities.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">6. What is meant by and what is the purpose of the feasibility study
                                conducted by Westgate?</div>
                            <div>
                                <p>
                                    The feasibility study by Westgate evaluates the technical, financial, and
                                    operational aspects of potential projects. Its purpose is to determine if a project
                                    is viable and aligns with the supplier's capabilities, ensuring successful project
                                    outcomes.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">7. How does Westgate match the perfect project for suppliers?</div>
                            <div>
                                <p>
                                    Westgate focuses on identifying projects that align with suppliers' strengths and
                                    capabilities by matching them with case studies and project requirements.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                8. What happens during the handover call/meeting at Westgate?
                            </div>
                            <div>
                                <p>
                                    During the handover call/meeting, Westgate updates suppliers about matched projects,
                                    explains project requirements, and discusses bid writing options.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                9. What are the bid writing options offered by Westgate?
                            </div>
                            <div>
                                <p>
                                    Westgate offers three bid writing options: Business as Usual (BAU), Bid Writing
                                    Company Review, and Bid Writing by the Bid Writing Company.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                10. How does Westgate support suppliers during the bid submission process?
                            </div>
                            <div>
                                <p>
                                    Westgate's Bid Submission Team ensures all necessary documents are in order before
                                    bid submission, including formatting and word limit checks.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                11. What role does the project coordinator play upon successful project award?
                            </div>
                            <div>
                                <p>
                                    The project coordinator, based in the UK, coordinates with internal teams and
                                    Suppliers, manages client visits, and ensures project success from day one once the
                                    Project is Awarded.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">
                                12. What is meant by competitor analysis?
                            </div>
                            <div>
                                <p>
                                    Competitor analysis involves researching and gathering information about
                                    competitors' projects, strengths, and weaknesses. This helps identify trends, areas
                                    for improvement, and strategies to enhance your bids and overall market position.
                                    Westgate's Competitor Analysis Team researches and gathers information about
                                    competitors' projects, strengths, and weaknesses to enhance our solutions and
                                    strategies.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>