<main id="main">
  <section class="pb-0">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 text-center">
          <h1 class="HeadingTitle2">
            Opportunities
            <a
              routerLink="/opportunities"
              class="btn btn-primary btn-sm float-end"
              >Back</a
            >
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <ul class="nav nav-listtab justify-content-center mb-5">
        <li>
          <a class="active">Software Development</a>
        </li>
        <li>
          <a routerLink="/opportunities/quality-assurance"
            >Quality Assurance/Quality Control</a
          >
        </li>
        <li><a>Managed IT Services</a></li>
        <li><a>Cyber Security</a></li>
        <li><a>Cloud Services</a></li>
        <li><a>Digital Marketing and SEO</a></li>
        <li><a>IT Products</a></li>
      </ul>

      <div class="gradient-light-blue mb-4">
        1. Web Development - <span class="text-theme">(4)</span>
      </div>
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 col-xl-6 col-12 mob-mb1">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">Today</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">This Week</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1"
              >This Month</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">This Year</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1"
              >Histroy Data</label
            >
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
          <div class="row">
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4">
              <select class="form-select">
                <option>Date</option>
              </select>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4">
              <select class="form-select">
                <option>Month</option>
              </select>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4">
              <select class="form-select">
                <option>Year</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-xl-2 col-12">
          <button type="button" class="btn btn-primary">Search</button>
        </div>
      </div>

      <div class="gradient-light-blue mb-4">
        <h4 class="text-theme">
          <strong>Project Count: 4 Value: 1.2 Million GBP</strong>
        </h4>
      </div>
      <div class="form-group text-end">
        <div class="row justify-content-end">
          <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-12">
            <select class="form-select">
              <option>Project Value</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card card-gradient1 border-radius16 mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-xl-3 col-12">
              <p><strong>Project Name</strong></p>
              <p>Website Development Project</p>
            </div>
            <div class="col-lg-2 col-xl-2 col-12">
              <p><strong>Project Value</strong></p>
              <p>300K GBP</p>
            </div>
            <div class="col-lg-5 col-xl-5 col-12">
              <p><strong>Project Description</strong></p>
              <p class="mb-0 p-13">
                Choose Westgate as your preferred partner for unparalleled
                access to UK Public Sector IT Projects. With our unmatched
                expertise and strategic partnerships, Indian IT companies
                benefit from seamless project execution, operational excellence,
                and dedicated support. We ensure maximum profitability, while
                our commitment to success guarantees unparalleled value and
                growth opportunities. Entrust Westgate to elevate your ventures
                to new heights in the dynamic UK IT market.
              </p>
            </div>
            <div class="col-lg-2 col-xl-2 col-12 text-center">
              <a href="#" class="btn btn-link mt-5">View More ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-gradient1 border-radius16 mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-xl-3 col-12">
              <p><strong>Project Name</strong></p>
              <p>Website Development Project</p>
            </div>
            <div class="col-lg-2 col-xl-2 col-12">
              <p><strong>Project Value</strong></p>
              <p>300K GBP</p>
            </div>
            <div class="col-lg-5 col-xl-5 col-12">
              <p><strong>Project Description</strong></p>
              <p class="mb-0 p-13">
                Choose Westgate as your preferred partner for unparalleled
                access to UK Public Sector IT Projects. With our unmatched
                expertise and strategic partnerships, Indian IT companies
                benefit from seamless project execution, operational excellence,
                and dedicated support. We ensure maximum profitability, while
                our commitment to success guarantees unparalleled value and
                growth opportunities. Entrust Westgate to elevate your ventures
                to new heights in the dynamic UK IT market.
              </p>
            </div>
            <div class="col-lg-2 col-xl-2 col-12 text-center">
              <a href="#" class="btn btn-link mt-5">View More ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-gradient1 border-radius16 mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-xl-3 col-12">
              <p><strong>Project Name</strong></p>
              <p>Website Development Project</p>
            </div>
            <div class="col-lg-2 col-xl-2 col-12">
              <p><strong>Project Value</strong></p>
              <p>300K GBP</p>
            </div>
            <div class="col-lg-5 col-xl-5 col-12">
              <p><strong>Project Description</strong></p>
              <p class="mb-0 p-13">
                Choose Westgate as your preferred partner for unparalleled
                access to UK Public Sector IT Projects. With our unmatched
                expertise and strategic partnerships, Indian IT companies
                benefit from seamless project execution, operational excellence,
                and dedicated support. We ensure maximum profitability, while
                our commitment to success guarantees unparalleled value and
                growth opportunities. Entrust Westgate to elevate your ventures
                to new heights in the dynamic UK IT market.
              </p>
            </div>
            <div class="col-lg-2 col-xl-2 col-12 text-center">
              <a href="#" class="btn btn-link mt-5">View More ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Share your expertise if it is not listed here</label>
        <textarea class="form-control" rows="3" cols="100"></textarea>
      </div>
      <div class="form-group text-end">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </section>
</main>
