<main id="main">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
          <h1 class="HeadingTitle text-theme" style="font-size: 67px;">Why Us?</h1>
          <h3>
            <strong>Choose Westgate for transparent support, efficient processes, and
              personalized assistance in accessing UK IT projects.</strong>
          </h3>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12 text-center" data-aos="fade-up">
          <img src="./assets/img/why-us.png" class="img-fluid mb-5" alt="wgith about us" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 data-aos="fade-up">
            <strong>We are levelling the playing field by empowering small and
              medium-scale companies to compete effectively, ensuring access to
              lucrative projects ABROAD.</strong>
          </h5>
          <!-- <br> -->
          <p data-aos="fade-up">
            It is fact that, Indian IT companies are losing business to MNCs and
            on few occasions with less competitive businesses, leaving with less
            or without opportunities unfortunately. This could be due to various
            reasons includes lack of expert business development teams,
            geographical borders, eligibility criteria any demanding by clients
            and a client representation abroad etc. etc., As a result, many
            businesses are losing the battle to competition, even being better
            capable in capacity/experience.
          </p>
          <!-- <br> -->
          <p data-aos="fade-up">
            Hence, we established Westgate to address your concerns and
            diligently identify business opportunities on your behalf. Our
            dedicated team works tirelessly to ensure that you have access to
            lucrative opportunities in the UK IT sector, through answering the
            gaps you may have.
          </p>
          <br>
          <h5 data-aos="fade-up">
            <strong>We are team of INTERNATIONAL business development experts with
              proven experience are here offering support for your business
              growth ABROAD.</strong>
          </h5>
          <!-- <br> -->
          <p data-aos="fade-up">
            Partnering with us eliminates barriers, providing seamless access to
            lucrative opportunities, from project identification to bid
            submission, we alleviate the burden of bid challenges, ensuring a
            seamless and successful journey for our clients in the competitive
            landscape of international IT projects.
          </p>
          <!-- <br> -->
          <p data-aos="fade-up">
            & Our innovative IT Platform (OSS) is designed for you and growth of
            your business at very cost-effective fee, and we described it at Our
            services page, for your attention.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="p-0" data-aos="fade-up">
    <img src="./assets/img/why-us-section-image.png" class="img-fluid" />
  </section>
  <section>
    <div class="container text-center mb-5" data-aos="fade-up">
      <h2 class="HeadingTitle2 text-theme">Our Value</h2>
      <h5 style="font-style: italic;">
        At Westgate, we're dedicated to ensuring our suppliers succeed - with
        our committed team, we empower our suppliers to excel in the
        competitive UK IT market ABROAD.

      </h5>
    </div>
    <div class="container text-center" data-aos="fade-up">
      <h2 class="HeadingTitle2 text-theme">How we are Structured</h2>
      <h5 style="font-style: italic;">
        To best fit for you and for your needs. We are a team of excellence
        formed with members responsible for Business identification,
        Feasibility/scope study of the project, Bid management, Bid review,
        Bid writing and execution support. At Westgate, our structure ensures
        efficient operations and supplier satisfaction.

      </h5>
    </div>
  </section>
  <section class="section-primary p-3" data-aos="fade-up">
    <div class="container text-center">
      <h3 class="HeadingTitle2">What can you expect from us?</h3>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <img src="assets/img/website_photo.png" class="img-fluid" />
        </div>
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <h5 class="mb-3"><img src="assets/img/Ellipse 2.png" width="24" class="me-2" /> Support 1: Identification of
            Projects</h5>
          <p><em>At Westgate, we access 550+ mediums to identify the suitable IT projects on daily of our suppliers’
              interests.</em></p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <h5 class="mb-3"><img src="assets/img/Ellipse 2.png" width="24" class="me-2" /> Support 2: Feasibility study
          </h5>
          <p><em>The Feasibility Team analyse all the bid/tender documents and check the eligibility criteria of the
              Projects and extract all the relevant information including technical, financial, and operational aspects
              to MATCH the project against the Case studies/Expertise provided by our suppliers</em></p>
          <h5 class="mt-5"><img src="assets/img/Ellipse 2.png" width="24" class="me-2" /> Support 3: Matching the
            Perfect Project of your expertise</h5>
          <p><em>In this phase we extract the matched projects that align with the strengths and capabilities of
              individual suppliers by matching it with the Case Studies </em></p>
        </div>
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <img src="assets/img/support2.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <img src="assets/img/support3.png" class="img-fluid" />
        </div>
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <h5 class="mb-3"><img src="assets/img/Ellipse 2.png" width="24" class="me-2" /> Support 4: Project handover
            call</h5>
          <p><em>The Handover call/meeting is scheduled to update you about the matched Project.</em></p>
          <p><em>This phase is designed to brief the technical, financial, and operational aspects of potential projects
              and deliver the key reports includes eligibility document, Summary Note Document etc</em></p>
          <p><em>In this meeting, we explain the Project and the requirements to our Suppliers and together come to an
              understanding to take the Bid further. </em></p>
          <h5 class="mt-5"><img src="assets/img/Ellipse 2.png" width="24" class="me-2" /> Support 5: Bid
            review/writing/submission support</h5>
          <p><em>Since the project handover call, our account manager working for you will be tracking the status and
              will be available to answer your any questions. Our support is designed to make sure the solutioning and
              other checklist documents are fit for submission</em></p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <h5 class="mb-3"><img src="assets/img/Ellipse 2.png" width="24" class="me-2" /> Support 6: Project
            Coordination</h5>
          <p><em>Upon successful Award of a project, our project coordinator (based in UK) come into picture. The
              Project coordinator (PC) co-ordinates with supplier technical/project team and the client.</em></p>
          <p><em>(PC is responsible for any client visits – on-site (if required) etc. Our Project Co-Ordinator will be
              in touch with the client for Day 1 presentation of Project plan, engaging with the stakeholders of the
              client, defining the KPI’s etc.) </em></p>
        </div>
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <img src="assets/img/website_photo.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <img src="assets/img/support5.png" class="img-fluid" />
        </div>
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <h5 class="mb-3"><img src="assets/img/Ellipse 2.png" width="24" class="me-2" /> Support 7: Competitor analysis
          </h5>
          <p><em>Knowing our strengths is mandate and knowing the strengths/weakness of competitor is must for any
              success.</em></p>
          <p><em>Hence using Freedom of Information Act of UK, we gather information about competitors' projects,
              strengths, weaknesses to analyse the competitors’ trends, areas to develop/work-on etc. </em></p>
          <h5 class="mt-5"><img src="assets/img/Ellipse 2.png" width="24" class="me-2" />Support 8:Bid tracking </h5>
          <p><em>At Westgate, we excel in tracking bids for you. Using our expertise, we monitor bids closely, ensuring
              you stay informed and further perform research if/when we lose any opportunities to nearest
              competitor.</em></p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <h5 class="mb-3"><img src="assets/img/Ellipse 2.png" width="24" class="me-2" />Support 9: Future</h5>
          <p><em>With Westgate, you can further enhance your business growth through Hybrid (Onsite UK/offshore India)
              project delivery model and 100% Onsite UK engagements with Skilled worker visa sponsorship support by our
              partner businesses in UK.  </em></p>
        </div>
        <div class="col-lg-6 col-xl-6 col-12" data-aos="fade-up">
          <img src="assets/img/support6.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
</main>