<main id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 text-end">
                    <a routerLink="/faq" class="btn btn-small btn-primary">Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="HeadingTitle text-theme mb-5">FAQ’s - Legal and Compliance</h1>
                    <ul class="faqsQuestionList">
                        <li>
                            <div class="text-theme">1.Is Westgate a registered and compliant company?</div>
                            <div>
                                <p>
                                    Yes, Westgate is a registered and compliant company, adhering to all relevant laws
                                    and regulations governing its operations.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">2. What legal documents do I need to review before engaging with
                                Westgate?</div>
                            <div>
                                <p>
                                    Before engaging with Westgate, Suppliers should review our Terms of Service and the
                                    SLA, and any other relevant legal documents based on any project.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="text-theme">3. Are there any legal obligations or responsibilities for Suppliers
                                when using Westgate's services?</div>
                            <div>
                                <p>
                                    Spectrum IT Hub Limited is a UK-based company specializing in
                                    providing IT solutions and services. With a strong presence in
                                    the UK market, Spectrum offers a range of IT services,
                                    including software development, consultancy, and project
                                    management, to clients across various industries.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>