<main id="main">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12" data-aos="fade-up"> 
          <h1 class="HeadingTitle text-theme">Working models</h1>
          <h2 class="HeadingTitle2">working with us</h2>
          <h6>
            <strong
              >Our project portfolio spans from 10k GBP to 10 million GBP,
              catering to a wide range of budgets and requirements & we are
              inviting all ELIGIBLE IT firms from India to join us and
              access/execute the opportunities and excel your long-term
              growth.</strong
            >
          </h6>
          <p>
            The below sections are for your information and please refer FAQ
            page or speak to us, for more information.
          </p>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12 text-center" data-aos="fade-up">
          <img
            src="./assets/img/businesspeople-meeting-office-working1.png"
            class="img-fluid mb-5"
            alt="wgith about us"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="eligibility-critearea-section" data-aos="fade-up">
    <div class="container">
      <h2 class="HeadingTitle2" data-aos="fade-up">
        Eligibility Criteria (Indian IT Business, Supplier/Sub-contractor):
      </h2>
      <ol data-aos="fade-up">
        <li class="mb-2">
          The supplier business is a registered IT firm within India.
        </li>
        <li class="mb-2">
          The supplier business has business track record (Case studies of
          previous projects executed)
        </li>
        <li class="mb-2">
          The supplier is happy to nominate a representative as point of contact
          for Westgate
        </li>
        <li class="mb-2">
          The supplier has skilled resources of the project expertise they wish
          to work with Westgate
        </li>
        <li class="mb-2">
          The supplier agreed to pay the fee/commission to Westgate for the
          services accessing.
        </li>
      </ol>
    </div>
  </section>
  <section>
    <div class="container">
      <h2 class="HeadingTitle" data-aos="fade-up">Engagement Process</h2>
      <img class="img-fluid" src="./assets/img/eligibility-critearea-steps.png" data-aos="fade-up"/>
    </div>
  </section>
  <section class="section-primary p-3" data-aos="fade-up">
    <div class="container text-center">
      <h3 class="HeadingTitle2">Working Models</h3>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12" data-aos="fade-up">
          <h6>
            <strong
              >To suit our suppliers and to fit the UK client demands, we are
              inviting our suppliers to choose their preferred models from
              below</strong
            >
          </h6>
        </div>
        <div class="card-border">
          <div class="row align-items-center" data-aos="fade-up">
            <div class="col-lg-7 col-xl-7 col-12">
              <div class="padding30">
                <p>
                  <strong>1. Sub-contracting only:</strong> WestGate IT Hub Pvt
                  Ltd and Spectrum IT Hub offer a sub-contracting solution to
                  enable Indian IT companies to bid for and win UK public sector
                  IT projects. This solution allows Indian IT companies to bid
                  for UK public sector IT projects without needing to establish
                  a presence in the UK. Spectrum IT Hub acts as the face for the
                  Indian IT companies, handling the bidding process and
                  submitting the project on behalf of the Indian IT companies.
                  The Indian IT companies are then able to subcontract the
                  project to their own team in India, ensuring that the project
                  is completed to the highest standards.
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-xl-5 col-12 p-0 mob-mb1">
              <img
                src="./assets/img/sub-contracting-image.png"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="row align-items-center" data-aos="fade-up">
            <div class="col-lg-7 col-xl-7 col-12 p-0">
              <img src="./assets/img/hybrid-image.png" class="img-fluid" />
            </div>
            <div class="col-lg-5 col-xl-5 col-12">
              <div class="padding30">
                <p>
                  <strong>2. Hybrid:</strong> Combining the benefits of
                  subcontracting and direct involvement, our hybrid model offers
                  suppliers the flexibility to choose their level of engagement,
                  ensuring optimal alignment with project requirements and
                  business objectives.  
                </p>
              </div>
            </div>
          </div>
          <div class="row align-items-center" data-aos="fade-up">
            <div class="col-lg-7 col-xl-7 col-12">
              <div class="padding30">
                <p>
                  <strong>3. On-site:</strong> In this model, our suppliers are
                  directly involved in on-site project management and execution,
                  providing hands-on support and expertise to ensure project
                  success.
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-xl-5 col-12 p-0 mob-mb1">
              <img src="./assets/img/on-site.png" class="img-fluid" />
            </div>
          </div>
          <div class="row align-items-center" data-aos="fade-up">
            <div class="col-lg-7 col-xl-7 col-12 p-0">
              <img src="./assets/img/resource-sharing.png" class="img-fluid" />
            </div>
            <div class="col-lg-5 col-xl-5 col-12">
              <div class="padding30">
                <p>
                  <strong>4. Resource Sharing:</strong> For recurring income
                  through sharing the expert resources to UK for a specific
                  project. Suppliers can choose this opportunity to contribute
                  their expertise, establishing a lasting presence and
                  generating ongoing revenue streams in the UK market.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
