<main id="main">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12">
          <h1 class="HeadingTitle text-theme mb-5">Opportunities</h1>
          <h5>
            Here is some data for you to witness the business of your interest.
          </h5>
          <h5>
            Please note, the opportunities displayed at this page is a
            cut/sample data of the original data we download daily from
            580+ sources on daily basis.
          </h5>
          <h5>
            If in case, you are looking for other category not listed here, we
            will do so after your registration and after understanding your
            expertise.
          </h5>
          <h5>Browse the opportunities here – our clients are your clients</h5>
          <!-- <p><a class="btn btn-white box-shadow">Join Now</a></p> -->
        </div>
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 col-12 text-center">
          <img src="./assets/img/opportunites.png" class="img-fluid mb-5" alt="wgith about us" />
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 col-xl-6 col-12 mob-mb1">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" checked (change)="radioSelected($event)"  name="inlineRadioOptions" id="inlineRadio1" value="today" />
            <label class="form-check-label" for="inlineRadio1">Today</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" (change)="radioSelected($event)" name="inlineRadioOptions" id="inlineRadio2" value="today" />
            <label class="form-check-label" for="inlineRadio2">This Week</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions"  data-bs-toggle="modal" data-bs-target="#RegisterUsModal" id="inlineRadio1" value="redirectToRegistration" />
            <label class="form-check-label" for="inlineRadio1">This Month</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions"  data-bs-toggle="modal" data-bs-target="#RegisterUsModal" id="inlineRadio2" value="redirectToRegistration" />
            <label class="form-check-label" for="inlineRadio2">This Year</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions"  data-bs-toggle="modal" data-bs-target="#RegisterUsModal" id="inlineRadio1" value="redirectToRegistration" />
            <label class="form-check-label" for="inlineRadio1">Histroy Data</label>
          </div>
        </div>
        <!-- <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
          <div class="row">
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4">
              <select class="form-select">
                <option>Date</option>
              </select>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4">
              <select class="form-select">
                <option>Month</option>
              </select>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4">
              <select class="form-select">
                <option>Year</option>
              </select>
            </div>
          </div>
        </div> -->
        <div class="col-lg-2 col-xl-2 col-12">
          <button type="button" class="btn btn-primary">Search</button>
        </div>
      </div>

      <div class="gradient-light-blue mb-4">
        <!-- <h4 class="text-theme">
          <strong>Project Count: 4 Value: 1.2 Million GBP</strong>
        </h4> -->
      </div>
      <!-- <div class="form-group text-end">
        <div class="row justify-content-end">
          <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-12">
            <select class="form-select">
              <option>Project Value</option>
            </select>
          </div>
        </div>
      </div> -->
      <ng-container *ngFor="let project of projectList">
        <div class="card card-gradient1 border-radius16 mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-xl-3 col-12">
                <p><strong>Project Name</strong></p>
                <p>{{project.projectName}}</p>
              </div>
              <div class="col-lg-3 col-xl-3 col-12">
                <p><strong>Project Value</strong></p>
                <p>{{project.value}}</p>
              </div>
              <div class="col-lg-3 col-xl-3 col-12">
                <p><strong>Category</strong></p>
                <p>{{project.category}}</p>
              </div>
              <div class="col-lg-3 col-xl-3 col-12">
                <p><strong>Industry</strong></p>
                <p>{{project.industry}}</p>
              </div>
              <div class="col-lg-3 col-xl-3 col-12">
                <p><strong>Publish Date</strong></p>
                <p>{{project.publishDate | date : 'MM/dd/yyyy'}}</p>
              </div>
              <div class="col-lg-3 col-xl-3 col-12">
                <p><strong>Due Date</strong></p>
                <p>{{project.dueDate | date : 'MM/dd/yyyy'}}</p>
              </div>
              <div class="col-lg-6 col-xl-6 col-12">
                <p><strong>Project Description</strong></p>
                <p class="mb-0 p-13">
                  {{project.description}}
                </p>
              </div>
              <div class="text-center">
                <a href="#" class="btn btn-link">View More ></a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!(projectList && projectList.length)">
        <p class="text-center">No records found</p>
      </ng-container>

      <!-- <div class="form-group">
        <label>Share your expertise if it is not listed here</label>
        <textarea class="form-control" rows="3" cols="100"></textarea>
      </div>
      <div class="form-group text-end">
        <button type="button" class="btn btn-primary">Submit</button>
      </div> -->
    </div>
  </section>
</main>
<div class="modal fade" id="RegisterUsModal" tabindex="-1" aria-labelledby="RegisterUsModalLebel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="display: block;">
        <div class="row">
          <div class="col-12 modal-title">
            <P class="mb-0">View detail</P>
          </div>
        </div>
        <button type="button" class="btn-close btn-fix" data-bs-dismiss="modal" aria-label="Close"><i
            class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <p>
          Register with us to view details.
        </p>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row justi-content-between">
          <button type="button" class="btn btn-primary" [routerLink]="['/register']" data-bs-dismiss="modal" aria-label="Close">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>